<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%-include('layout/header.ejs')%>
        <h3>Hello <%-name%></h3>
        <h3>Hello <%=name%></h3>
        <b>
            <% let a = 1; %>
            <%= a%>
        </b>
    </body>
</html>